In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/andrewzhuang/Downloads/CollegeScorecard_Raw_Data/MERGED2013_14_PP.csv')

/Users/andrewzhuang/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1537,1540,1542,1561,1575,1606,1614,1615,1729) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,D100_L4,TRANS_4,DTRANS_4,TRANS_L4,DTRANS_L4,ICLEVEL,UGDS_MEN,UGDS_WOMEN,CDR3_DENOM,CDR2_DENOM
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,0.2234,882.0,NaN,NaN,1,0.4861,0.5139,1573.0,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,0.2358,1378.0,NaN,NaN,1,0.4135,0.5865,3475.0,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,0.0000,3.0,NaN,NaN,1,0.3913,0.6087,336.0,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,...,NaN,0.3136,759.0,NaN,NaN,1,0.5580,0.4420,1392.0,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,...,NaN,0.0000,1351.0,NaN,NaN,1,0.4085,0.5915,1960.0,NaN

In [15]:
df['PREDDEG'].unique()

array([3, 2, 1, 4, 0])

In [25]:
import tqdm as tqdm

In [47]:
#Q1 Average SAT score ==========================================

df_4y = df[df['HIGHDEG'] >= 3]
df_4y = df_4y[df_4y['PREDDEG'] != 4]
df_4y = df_4y.ix[:][['UGDS','SAT_AVG']]
df_4y = df_4y.dropna()

total_students = 0
total_SAT_score = 0

for i in tqdm.tqdm(df_4y.index):
    total_students += int(df_4y.ix[i]['UGDS']/4)
    total_SAT_score += int(df_4y.ix[i]['SAT_AVG'])*int(df_4y.ix[i]['UGDS']/4)

print (total_SAT_score/total_students)

100%|██████████| 1383/1383 [00:00<00:00, 2894.91it/s]

1097.0209396460527

In [82]:
#Q2 SAT vs 2 year enrollment ==========================================

df2 = df.ix[:][['ENRL_ORIG_YR2_RT','SAT_AVG']]
df2['ENRL_ORIG_YR2_RT'] = pd.to_numeric(df2['ENRL_ORIG_YR2_RT'], errors='coerce')
df2 = df2.dropna()
df2.corr()

/Users/andrewzhuang/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                  ENRL_ORIG_YR2_RT   SAT_AVG
ENRL_ORIG_YR2_RT          1.000000  0.661837
SAT_AVG                   0.661837  1.000000

In [114]:
#Q2 income and completion ==========================================
df3 = df.ix[:][['LO_INC_COMP_ORIG_YR4_RT','MD_INC_COMP_ORIG_YR4_RT','HI_INC_COMP_ORIG_YR4_RT']]
df3['LO_INC_COMP_ORIG_YR4_RT'] = pd.to_numeric(df3['LO_INC_COMP_ORIG_YR4_RT'], errors='coerce')
df3['MD_INC_COMP_ORIG_YR4_RT'] = pd.to_numeric(df3['MD_INC_COMP_ORIG_YR4_RT'], errors='coerce')
df3['HI_INC_COMP_ORIG_YR4_RT'] = pd.to_numeric(df3['HI_INC_COMP_ORIG_YR4_RT'], errors='coerce')
df3 = df3.dropna()

df3['HI_INC_COMP_ORIG_YR4_RT'].mean() - df3['LO_INC_COMP_ORIG_YR4_RT'].mean()

/Users/andrewzhuang/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/andrewzhuang/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/andrewzhuang/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0.13734663453323226

In [123]:
#Q4 t-test ==========================================
from scipy.stats import ttest_ind
t, p = ttest_ind(np.array(df3['HI_INC_COMP_ORIG_YR4_RT']), np.array(df3['LO_INC_COMP_ORIG_YR4_RT']), equal_var=True)
np.log10(p)

-204.36381326489089

In [152]:
#Q5 Ethnicity ==========================================
df5 = df.ix[:][['UGDS_WHITE',
'UGDS_BLACK',
'UGDS_HISP',
'UGDS_ASIAN',
'UGDS_AIAN',
'UGDS_NHPI',
'UGDS_2MOR',
'UGDS_NRA',
'UGDS_UNKN']]
df5 = df5.dropna()

def get_max(df5):
    max_val = max([df5['UGDS_WHITE'],df5['UGDS_BLACK'],df5['UGDS_HISP'],df5['UGDS_ASIAN'],
                  df5['UGDS_AIAN'],df5['UGDS_NHPI'],df5['UGDS_2MOR'],df5['UGDS_NRA'],
                  df5['UGDS_UNKN']])
    return (max_val)

def get_min(df5):
    min_val = min([df5['UGDS_WHITE'],df5['UGDS_BLACK'],df5['UGDS_HISP'],df5['UGDS_ASIAN'],
                  df5['UGDS_AIAN'],df5['UGDS_NHPI'],df5['UGDS_2MOR'],df5['UGDS_NRA'],
                  df5['UGDS_UNKN']])
    return (min_val)

df5['max'] = df5.apply(get_max, axis=1)
df5['min'] = df5.apply(get_min, axis=1)
df5['diff'] = df5['max'] - df5['min']
df5 = df5[df5['diff'] > 0]
df5['diff'].min()

0.23349999999999999

In [155]:
'UGDS_WOMEN'

0                 Normal
1             Birmingham
2             Montgomery
3             Huntsville
4             Montgomery
5             Tuscaloosa
6         Alexander City
7                 Athens
8             Montgomery
9                 Auburn
10            Birmingham
11           Phenix City
12                 Selma
13            Montgomery
14            Enterprise
15           Bay Minette
16            Montgomery
17               Gadsden
18           Albertville
19                Dothan
20            Hanceville
21                 Selma
22            Birmingham
23            Montgomery
24              Florence
25            Huntsville
26          Jacksonville
27               Brewton
28            Birmingham
29                Tanner
              ...
7774             Houston
7775             Houston
7776               Plano
7777          Cedar Hill
7778              Dallas
7779         San Antonio
7780            Stafford
7781             Fremont
7782          Sacramento
7783           McClellan
7784          Sacramento
7785          Sacramento
7786              Merced
7787             El Paso
7788              Austin
7789          Emeryville
7790         Bloomington
7791          Schaumburg
7792       Downers Grove
7793              Aurora
7794       Overland Park
7795    Highland Heights
7796           Brentwood
7797            Martinez
7798            Fairburn
7799            Columbus
7800            Valdosta
7801       Warner Robins
7802       Milledgeville
7803      Stone Mountain
Name: CITY, dtype: object

In [175]:
#Q6 Women ==========================================

df01 = pd.read_csv('/Users/andrewzhuang/Downloads/CollegeScorecard_Raw_Data/MERGED2001_02_PP.csv')
df02 = pd.read_csv('/Users/andrewzhuang/Downloads/CollegeScorecard_Raw_Data/MERGED2002_03_PP.csv')
df03 = pd.read_csv('/Users/andrewzhuang/Downloads/CollegeScorecard_Raw_Data/MERGED2003_04_PP.csv')
df04 = pd.read_csv('/Users/andrewzhuang/Downloads/CollegeScorecard_Raw_Data/MERGED2004_05_PP.csv')
df05 = pd.read_csv('/Users/andrewzhuang/Downloads/CollegeScorecard_Raw_Data/MERGED2005_06_PP.csv')
df06 = pd.read_csv('/Users/andrewzhuang/Downloads/CollegeScorecard_Raw_Data/MERGED2006_07_PP.csv')
df07 = pd.read_csv('/Users/andrewzhuang/Downloads/CollegeScorecard_Raw_Data/MERGED2007_08_PP.csv')
df08 = pd.read_csv('/Users/andrewzhuang/Downloads/CollegeScorecard_Raw_Data/MERGED2008_09_PP.csv')
df09 = pd.read_csv('/Users/andrewzhuang/Downloads/CollegeScorecard_Raw_Data/MERGED2009_10_PP.csv')
df10 = pd.read_csv('/Users/andrewzhuang/Downloads/CollegeScorecard_Raw_Data/MERGED2010_11_PP.csv')

df01 = df01.ix[:][['UNITID','UGDS_WOMEN','UGDS']]
df02 = df02.ix[:][['UNITID','UGDS_WOMEN','UGDS']]
df03 = df03.ix[:][['UNITID','UGDS_WOMEN','UGDS']]
df04 = df04.ix[:][['UNITID','UGDS_WOMEN','UGDS']]
df05 = df05.ix[:][['UNITID','UGDS_WOMEN','UGDS']]
df06 = df06.ix[:][['UNITID','UGDS_WOMEN','UGDS']]
df07 = df07.ix[:][['UNITID','UGDS_WOMEN','UGDS']]
df08 = df08.ix[:][['UNITID','UGDS_WOMEN','UGDS']]
df09 = df09.ix[:][['UNITID','UGDS_WOMEN','UGDS']]
df10 = df10.ix[:][['UNITID','UGDS_WOMEN','UGDS']]

df01 = df01.dropna()
df02 = df02.dropna()
df03 = df03.dropna()
df04 = df04.dropna()
df05 = df05.dropna()
df06 = df06.dropna()
df07 = df07.dropna()
df08 = df08.dropna()
df09 = df09.dropna()
df10 = df10.dropna()

schools = set(df01['UNITID'].unique())
schools = schools.intersection(set(df02['UNITID'].unique()))
schools = schools.intersection(set(df03['UNITID'].unique()))
schools = schools.intersection(set(df04['UNITID'].unique()))
schools = schools.intersection(set(df05['UNITID'].unique()))
schools = schools.intersection(set(df06['UNITID'].unique()))
schools = schools.intersection(set(df07['UNITID'].unique()))
schools = schools.intersection(set(df08['UNITID'].unique()))
schools = schools.intersection(set(df09['UNITID'].unique()))
schools = schools.intersection(set(df10['UNITID'].unique()))

df01 = df01[df01['UNITID'].isin(schools)]
df02 = df02[df02['UNITID'].isin(schools)]
df03 = df03[df03['UNITID'].isin(schools)]
df04 = df04[df04['UNITID'].isin(schools)]
df05 = df05[df05['UNITID'].isin(schools)]
df06 = df06[df06['UNITID'].isin(schools)]
df07 = df07[df07['UNITID'].isin(schools)]
df08 = df08[df08['UNITID'].isin(schools)]
df09 = df09[df09['UNITID'].isin(schools)]
df10 = df10[df10['UNITID'].isin(schools)]

df01['NUM_WOMEN'] = df01['UGDS_WOMEN']*df01['UGDS']
df02['NUM_WOMEN'] = df02['UGDS_WOMEN']*df02['UGDS']
df03['NUM_WOMEN'] = df03['UGDS_WOMEN']*df03['UGDS']
df04['NUM_WOMEN'] = df04['UGDS_WOMEN']*df04['UGDS']
df05['NUM_WOMEN'] = df05['UGDS_WOMEN']*df05['UGDS']
df06['NUM_WOMEN'] = df06['UGDS_WOMEN']*df06['UGDS']
df07['NUM_WOMEN'] = df07['UGDS_WOMEN']*df07['UGDS']
df08['NUM_WOMEN'] = df08['UGDS_WOMEN']*df08['UGDS']
df09['NUM_WOMEN'] = df09['UGDS_WOMEN']*df09['UGDS']
df10['NUM_WOMEN'] = df10['UGDS_WOMEN']*df10['UGDS']

total_women = df01['NUM_WOMEN'].sum() + df04['NUM_WOMEN'].sum() + df07['NUM_WOMEN'].sum() + df09['NUM_WOMEN'].sum() +df02['NUM_WOMEN'].sum() + df05['NUM_WOMEN'].sum() + df08['NUM_WOMEN'].sum() + df10['NUM_WOMEN'].sum() + df03['NUM_WOMEN'].sum() + df06['NUM_WOMEN'].sum()
total_stud =  df01['UGDS'].sum() + df04['UGDS'].sum() + df07['UGDS'].sum() + df09['UGDS'].sum() + df02['UGDS'].sum() + df05['UGDS'].sum() + df08['UGDS'].sum() + df10['UGDS'].sum() + df03['UGDS'].sum() + df06['UGDS'].sum() 
print (total_women/total_stud)

/Users/andrewzhuang/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/andrewzhuang/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1,6,442,451,598,607,611,620,624,633,789,802,806,815,893,906,971,984,997,1153,1166,1407,1408,1411,1425,1431,1432,1433,1437,1438,1439,1440,1445,1446,1447,1451,1452,1453,1454,1459,1460,1461,1465,1466,1467,1468,1473,1474,1475,1479,1480,1481,1482,1487,1488,1489,1501,1502,1537,1538,1539,1540,1541,1542,1603,1606,1609,1610,1611,1613,1614,1615,1616,1688,1689,1690,1691,1692,1729) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/andrewzhuang/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1,1729) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/andrewzhuang/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1,6,1408,1431,1432,1433,1475,1489,1537,1538,1539,1540,1542,1603,1606,1610,1611,1614,1615,1616,1729) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/andrewzhuang/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1,1447,1537,1540,1542,1606,1614,1615) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/andrewzhuang/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1,1537,1540,1542,1606,1614,1615) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/andrewzhuang/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1,6,1461,1561,1729) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [177]:
df01['NUM_WOMEN'] = df01['UGDS_WOMEN']*df01['UGDS']
df02['NUM_WOMEN'] = df02['UGDS_WOMEN']*df02['UGDS']
df03['NUM_WOMEN'] = df03['UGDS_WOMEN']*df03['UGDS']
df04['NUM_WOMEN'] = df04['UGDS_WOMEN']*df04['UGDS']
df05['NUM_WOMEN'] = df05['UGDS_WOMEN']*df05['UGDS']
df06['NUM_WOMEN'] = df06['UGDS_WOMEN']*df06['UGDS']
df07['NUM_WOMEN'] = df07['UGDS_WOMEN']*df07['UGDS']
df08['NUM_WOMEN'] = df08['UGDS_WOMEN']*df08['UGDS']
df09['NUM_WOMEN'] = df09['UGDS_WOMEN']*df09['UGDS']
df10['NUM_WOMEN'] = df10['UGDS_WOMEN']*df10['UGDS']

In [182]:
total_women = df01['NUM_WOMEN'].sum() + df04['NUM_WOMEN'].sum() + df07['NUM_WOMEN'].sum() + df09['NUM_WOMEN'].sum() +df02['NUM_WOMEN'].sum() + df05['NUM_WOMEN'].sum() + df08['NUM_WOMEN'].sum() + df10['NUM_WOMEN'].sum() + df03['NUM_WOMEN'].sum() + df06['NUM_WOMEN'].sum()
total_stud =  df01['UGDS'].sum() + df04['UGDS'].sum() + df07['UGDS'].sum() + df09['UGDS'].sum() + df02['UGDS'].sum() + df05['UGDS'].sum() + df08['UGDS'].sum() + df10['UGDS'].sum() + df03['UGDS'].sum() + df06['UGDS'].sum() 
print (total_women/total_stud)

0.5716597681583974

In [162]:
df01 = df01.ix[:][['UNITID','UGDS_WOMEN','UGDS']]
df02 = df02.ix[:][['UNITID','UGDS_WOMEN','UGDS']]
df03 = df03.ix[:][['UNITID','UGDS_WOMEN','UGDS']]
df04 = df04.ix[:][['UNITID','UGDS_WOMEN','UGDS']]
df05 = df05.ix[:][['UNITID','UGDS_WOMEN','UGDS']]
df06 = df06.ix[:][['UNITID','UGDS_WOMEN','UGDS']]
df07 = df07.ix[:][['UNITID','UGDS_WOMEN','UGDS']]
df08 = df08.ix[:][['UNITID','UGDS_WOMEN','UGDS']]
df09 = df09.ix[:][['UNITID','UGDS_WOMEN','UGDS']]
df10 = df10.ix[:][['UNITID','UGDS_WOMEN','UGDS']]

In [165]:
df01 = df01.dropna()
df02 = df02.dropna()
df03 = df03.dropna()
df04 = df04.dropna()
df05 = df05.dropna()
df06 = df06.dropna()
df07 = df07.dropna()
df08 = df08.dropna()
df09 = df09.dropna()
df10 = df10.dropna()

In [170]:
schools = set(df01['UNITID'].unique())
schools = schools.intersection(set(df02['UNITID'].unique()))
schools = schools.intersection(set(df03['UNITID'].unique()))
schools = schools.intersection(set(df04['UNITID'].unique()))
schools = schools.intersection(set(df05['UNITID'].unique()))
schools = schools.intersection(set(df06['UNITID'].unique()))
schools = schools.intersection(set(df07['UNITID'].unique()))
schools = schools.intersection(set(df08['UNITID'].unique()))
schools = schools.intersection(set(df09['UNITID'].unique()))
schools = schools.intersection(set(df10['UNITID'].unique()))
len(schools)

5242

In [173]:
df01 = df01[df01['UNITID'].isin(schools)]
df02 = df02[df02['UNITID'].isin(schools)]
df03 = df03[df03['UNITID'].isin(schools)]
df04 = df04[df04['UNITID'].isin(schools)]
df05 = df05[df05['UNITID'].isin(schools)]
df06 = df06[df06['UNITID'].isin(schools)]
df07 = df07[df07['UNITID'].isin(schools)]
df08 = df08[df08['UNITID'].isin(schools)]
df09 = df09[df09['UNITID'].isin(schools)]
df10 = df10[df10['UNITID'].isin(schools)]

In [174]:
tot_avg = (df01['UGDS_WOMEN'].mean() + df05['UGDS_WOMEN'].mean() + df08['UGDS_WOMEN'].mean() + 
                df02['UGDS_WOMEN'].mean() + df06['UGDS_WOMEN'].mean() + df09['UGDS_WOMEN'].mean() + 
                df03['UGDS_WOMEN'].mean() + df07['UGDS_WOMEN'].mean() + df10['UGDS_WOMEN'].mean() + 
                df04['UGDS_WOMEN'].mean())/10
print (tot_avg)

0.6403539126287677

In [183]:
#Q7 Regions ==========================================
df15 = pd.read_csv('/Users/andrewzhuang/Downloads/CollegeScorecard_Raw_Data/MERGED2014_15_PP.csv')
for i in df15['REGION'].unique():
    cur_df = df15[df15['REGION'] == i]
    print(len(cur_df[cur_df['LOCALE'] < 21])/len(cur_df))
#Just look for the biggest printed out

/Users/andrewzhuang/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (6,9,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1411,1425,1427,1503,1517,1529,1530,1532,1537,1540,1541,1542,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1605,1606,1609,1610,1613,1614,1615,1725,1726,1727,1728,1729) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [186]:
for i in df15['REGION'].unique():
    cur_df = df15[df15['REGION'] == i]
    print(len(cur_df[cur_df['LOCALE'] < 21])/len(cur_df))

0.44814814814814813
0.3714036617262424
0.5577797998180164
0.5907429963459196
0.4419306184012066
0.5050505050505051
0.3438914027149321
0.3917089678510998
0.0
0.515527950310559