In [7]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [8]:
# url that we are scraping
url = "http://www.basketball-reference.com/draft/NBA_2014.html"

# this is the html from the given url
html = urlopen(url)

In [9]:
soup = BeautifulSoup(html)

/Users/andrewzhuang/anaconda/lib/python3.6/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /Users/andrewzhuang/anaconda/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [10]:
type(soup)  # we see that soup is a BeautifulSoup object

bs4.BeautifulSoup

In [32]:
column_headers = [th.getText() for th in 
                  soup.findAll('tr', limit=2)[1].findAll('th')]

AttributeError: 'list' object has no attribute 'findAll'

In [33]:
soup.findAll('tr', limit=2)[1].findAll('th')

[<th aria-label="Rank" class="ranker poptip sort_default_asc show_partial_when_sorting right" data-stat="ranker" data-tip="Rank" scope="col">Rk</th>,
 <th aria-label="Overall Pick" class=" poptip sort_default_asc right" data-over-header="Round 1" data-stat="pick_overall" data-tip="Overall Pick" scope="col">Pk</th>,
 <th aria-label="Team" class=" poptip sort_default_asc left" data-stat="team_id" data-tip="Team" scope="col">Tm</th>,
 <th aria-label="Player" class=" poptip sort_default_asc left" data-over-header="Round 1" data-stat="player" scope="col">Player</th>,
 <th aria-label="College" class=" poptip sort_default_asc left" data-over-header="Round 1" data-stat="college_name" scope="col">College</th>,
 <th aria-label="Seasons that player has appeared in the NBA" class=" poptip center" data-stat="seasons" data-tip="Seasons that player has appeared in the NBA" scope="col">Yrs</th>,
 <th aria-label="Games" class=" poptip right" data-over-header="Totals" data-stat="g" data-tip="Games" scope="col">G</th>,
 <th aria-label="Minutes Played" class=" poptip right" data-over-header="Totals" data-stat="mp" data-tip="Minutes Played" scope="col">MP</th>,
 <th aria-label="Points" class=" poptip right" data-over-header="Totals" data-stat="pts" data-tip="Points" scope="col">PTS</th>,
 <th aria-label="Total Rebounds" class=" poptip right" data-over-header="Totals" data-stat="trb" data-tip="Total Rebounds" scope="col">TRB</th>,
 <th aria-label="Assists" class=" poptip right" data-over-header="Totals" data-stat="ast" data-tip="Assists" scope="col">AST</th>,
 <th aria-label="Field Goal Percentage" class=" poptip right" data-over-header="Shooting" data-stat="fg_pct" data-tip="Field Goal Percentage" scope="col">FG%</th>,
 <th aria-label="3-Point Field Goal Percentage" class=" poptip right" data-over-header="Shooting" data-stat="fg3_pct" data-tip="3-Point Field Goal Percentage" scope="col">3P%</th>,
 <th aria-label="Free Throw Percentage" class=" poptip right" data-over-header="Shooting" data-stat="ft_pct" data-tip="Free Throw Percentage" scope="col">FT%</th>,
 <th aria-label="Minutes Played Per Game" class=" poptip right" data-over-header="Per Game" data-stat="mp_per_g" data-tip="Minutes Played Per Game" scope="col">MP</th>,
 <th aria-label="Points Per Game" class=" poptip right" data-over-header="Per Game" data-stat="pts_per_g" data-tip="Points Per Game" scope="col">PTS</th>,
 <th aria-label="Total Rebounds Per Game" class=" poptip right" data-over-header="Per Game" data-stat="trb_per_g" data-tip="Total Rebounds Per Game" scope="col">TRB</th>,
 <th aria-label="Assists Per Game" class=" poptip right" data-over-header="Per Game" data-stat="ast_per_g" data-tip="Assists Per Game" scope="col">AST</th>,
 <th aria-label="Win Shares" class=" poptip right" data-over-header="Advanced" data-stat="ws" data-tip="&lt;b&gt;Win Shares&lt;/b&gt;&lt;br&gt;An estimate of the number of wins contributed by a player." scope="col">WS</th>,
 <th aria-label="Win Shares Per 48 Minutes" class=" poptip right" data-over-header="Advanced" data-stat="ws_per_48" data-tip="&lt;b&gt;Win Shares Per 48 Minutes&lt;/b&gt;&lt;br&gt;An estimate of the number of wins contributed by a player per 48 minutes (league average is approximately .100)" scope="col">WS/48</th>,
 <th aria-label="BPM" class=" poptip right" data-over-header="Advanced" data-stat="bpm" data-tip="&lt;b&gt;Box Plus/Minus&lt;/b&gt;&lt;br&gt;A box score estimate of the points per 100 possessions a player contributed above a league-average player, translated to an average team." scope="col">BPM</th>,
 <th aria-label="VORP" class=" poptip right" data-over-header="Advanced" data-stat="vorp" data-tip="&lt;b&gt;Value over Replacement Player&lt;/b&gt;&lt;br&gt;A box score estimate of the points per 100 TEAM possessions that a player contributed above a replacement-level (-2.0) player, translated to an average team and prorated to an 82-game season.&lt;br&gt;&lt;br&gt;Multiply by 2.70 to convert to wins over replacement." scope="col">VORP</th>]

In [15]:
data_rows = soup.findAll('tr')[2:]

In [18]:
player_data = [[td.getText() for td in data_rows[i].findAll('td')]
               for i in range(len(data_rows))]

In [20]:
player_data_02 = []  # create an empty list to hold all the data

for i in range(len(data_rows)):  # for each table row
    player_row = []  # create an empty list for each pick/player

    # for each table data element from each table row
    for td in data_rows[i].findAll('td'):        
        # get the text content and append to the player_row 
        player_row.append(td.getText())        

    # then append each pick/player to the player_data matrix
    player_data_02.append(player_row)

In [28]:
df = pd.DataFrame(player_data_02)

In [26]:
column_headers

['Rk',
 'Pk',
 'Tm',
 'Player',
 'College',
 'Yrs',
 'G',
 'MP',
 'PTS',
 'TRB',
 'AST',
 'FG%',
 '3P%',
 'FT%',
 'MP',
 'PTS',
 'TRB',
 'AST',
 'WS',
 'WS/48',
 'BPM',
 'VORP']

In [29]:
df.columns

RangeIndex(start=0, stop=21, step=1)

In [30]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,1,CLE,Andrew Wiggins,University of Kansas,3,245,8862,4995,993,523,...,.329,.760,36.2,20.4,4.1,2.1,10.3,.056,-2.4,-0.8
1,2,MIL,Jabari Parker,Duke University,3,152,4874,2403,847,314,...,.341,.748,32.1,15.8,5.6,2.1,9.0,.088,-1.3,0.9
2,3,PHI,Joel Embiid,University of Kansas,1,31,786,627,243,66,...,.367,.783,25.4,20.2,7.8,2.1,1.9,.117,3.1,1.0
3,4,ORL,Aaron Gordon,University of Arizona,3,205,4958,1981,1081,311,...,.289,.699,24.2,9.7,5.3,1.5,10.1,.098,-0.1,2.4
4,5,UTA,Dante Exum,,2,148,3045,805,263,309,...,.308,.743,20.6,5.4,1.8,2.1,1.1,.017,-3.3,-1.0